@model IEnumerable<BlogCategory>


<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var category in Model.OrderByDescending(b => b.Created))
            {
                <div class="post-preview">
                    <a asp-controller="CategoryPosts" asp-action="CategoryIndex" asp-route-id="@category.Id">
                        <h2 class="post-title">
                            @category.Name
                        </h2>
                        <h3 class="post-subtitle">
                            @Html.Raw(category.Description)
                        </h3>
                    </a>
                    <p class="post-meta">
                        Written by
                        <a href="#">David R. Bergerson</a>
                        on @category.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <hr>
            }
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>