@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Orion Blog</h1>
                    <span class="subheading">A Blog by David R. Bergerson</span>
                </div>
            </div>
        </div>
    </div>
</header>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
